*{color: ;}
p {
    background-color: blue;
}
#par {background-color: brown;}
.text-white{color: white;}
.text-upper{text-transform: uppercase;}
[href="http://Synergy.ru/"] {color: hotpink;}
p::first-line {color: red;}
p::before {content: before;}
p::after{content: after;}
a:hover {color: blue;}
li:nth-child(n+2){color:red;}
p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
div{
    border: 1px  solid black;
}
.container {
    height: 50vh;
    display: flex;
}
.block_1{
    background-color: blue;
}
.block_2{background-color: chocolate;
}
.block_3{background-color: crimson;
}

@media screen { 
    .inner {
        color:green;
    }
}